.container-form-alert {
  width: 400px;
  height: 200px;
  background: white;
  padding: 10px;

  border-radius: 10px;
  text-align: center;

  animation: animation 0.7s ease-out;
  animation-fill-mode: forwards;

  -webkit-animation-fill-mode: forwards;
  -moz-animation: animation 0.7s ease-out;
  -webkit-animation: animation 0.7s ease-out;
  -o-animation: animation 0.7s ease-out;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  .clear-icon {
    float: right;
    cursor: pointer;
    font-style: normal;
    color: #121421;
    font-size: 20px;
  }

  &__title {
    margin-top: 20px;
    margin-left: 24px;
    font-size: 20px;
    color: #2a2b37;
  }

  &__input {
    font-weight: 500;
    font-size: 16px;
    color: #373843;
    text-align: center;
    width: 340px;
    height: 40px;
    margin-top: 15px;
    padding: 10px;
    border: 1.5px solid #e6ebee;
    border-radius: 7px;
  }

  &__btn {
    margin-top: 10px;

    button {
      cursor: pointer;
      outline: none;
      border-width: 1.5px;
      border-style: solid;
      border-radius: 5px;
      margin: 10px;
      width: 160px;
      font-size: 15px;
      font-weight: 600;
      min-width: 130px;
      min-height: 40px;
    }

    &--cancel {
      background-color: #ffffff;
      color: #9198b1;
      border-color: #c0ccda;
    }

    &--accept {
      background-color: #027ff3;
      color: #ffffff;
      border-color: #027ff3;
    }
  }
}

@keyframes animation{
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@-moz-keyframes animation {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@-webkit-keyframes animation {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}
