.video-item-remote {
    position: relative;
    border:  3px solid transparent;
    
    .temp-image {
        position: absolute;
        top: 50%; right: 50%;
        transform: translate(50%,-50%);
        width: 150px;
        height: 150px;

        animation: appear 0.3s ease-out forwards;
    }

    .stream-info {
    position: absolute;
    left: 5px;
    top: 5px;

    padding: 10px;
    right: 5px;
    background: black;
    border-radius: 5px;
    color: white;
    width: fit-content;
    ul {
        display: flex;
        li{
            padding: 0 5px;
            font-weight: 500;
        }
        li:nth-child(2) p{
            max-width: 92;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            }
        }
    }

    .video-more-options-list {
        min-width: 175px;
        position: absolute;
        top: 60px;
        right: 0px;
        padding: 3px 6px;
        border: 1px solid #eaeae9;
        border-radius: 6px;
        background-color: #eaeae9;
        text-align: left;
        color: #33333f;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        ul {
            display: flex;
            flex-direction: column;
            min-width: 151px;
        }
    
        ul li {
            padding: 8px 10px !important;
            cursor: pointer;
            
            &:hover {
                background-color: #0b84f4;
                color: #ffffff;
                border-radius: 10px;
            }
        }
    }
}


#video-item-border{
    border: 3px solid #0b84f4;
}

@keyframes appear  {
    0% {
        opacity: 0;
        display: none;
    }
    99% {
        opacity: 0.7;
        display: block;
    }
    100% {
        opacity: 1;
        display: block;
    }
}