.container-popup{
  width: 300px;
  height: 90px;
  background: white;
  padding: 10px;

  border-radius: 10px;
  text-align: center;
  // margin-top: 15%;

  animation: animationPopup 0.7s ease-out;
  animation-fill-mode: forwards;

  -webkit-animation-fill-mode: forwards;
  -moz-animation: animationPopup 0.7s ease-out;
  -webkit-animation: animationPopup 0.7s ease-out;
  -o-animation: animationPopup 0.7s ease-out;
  
  position: absolute;

  bottom: 10%;
  left: 50%; 
  transform: translateX(-50%) translateY(-10%);

  .clear-icon{
      float: right;
      cursor: pointer;
  }
  &__title{
      margin-top: 20px;
      font-size: 20px;
  }
  &__content{
      margin-top: 20px;
      font-weight: 500;
      font-size: 12px;
  }
  &__btn{
      margin-top: 10px;
      button{
          color: white;
          border: none;
          cursor: pointer;
          outline: none;

          border-radius: 5px;
          margin: 10px;
          min-width: 130px;
          min-height: 40px;
      }
      &--cancel{
          background: #ccc;
      }
      &--accept{
          background: blue;
      }
  }
}
@keyframes animationPopup{
  from { 
    bottom: 0%;
  }
  to { 
    bottom: 10%;
  }   
}

@-moz-keyframes animationPopup {
  from { 
    bottom: 0%;
  }
  to { 
    bottom: 10%;
  }   
}

@-webkit-keyframes animationPopup {
  from { 
    bottom: 0%;
  }
  to { 
    bottom: 10%;
  }   
}

