.container-alert-time{
    width: 400px;
    height: 200px;
    background: white;
    padding: 10px;

    border-radius: 10px;
    text-align: center;
    // margin-top: 15%;

    animation: animation 0.7s ease-out;
    animation-fill-mode: forwards;

    -webkit-animation-fill-mode: forwards;
    -moz-animation: animation 0.7s ease-out;
    -webkit-animation: animation 0.7s ease-out;
    -o-animation: animation 0.7s ease-out;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);

    .clear-icon{
        // float: right;
        top: 10px;
        right: 10px;
        position: absolute;
        cursor: pointer;
    }
    &__title{
        font-size: 20px;
    }
}
@keyframes animation{
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

@-moz-keyframes animation {
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

@-webkit-keyframes animation {
    from { 
        top: 0%;
    }
    to { 
        top: 50%;
    }   
}

